.App {
  font-family: sans-serif;
  text-align: center;
}

.board-row {
  display: flex;
}

.square {
  font-size: 25px;
  min-width: 100px;
  min-height: 100px;
  height: auto;
  width: auto;
  padding: 5px;
  background: rgb(255, 255, 255);
}
